@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$dark-blue-main: hsl(217, 54%, 11%);
$dark-blue-card: hsl(216, 50%, 16%);
$dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);


$font-family: 'Outfit';

* {
    font-family: $font-family;
}


body {
    background: $dark-blue-main;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: $white;
    
}

p {
    font-size: 18px;
    color: $soft-blue;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    // display: block;
    position: relative;
   
    

}
a:hover {
    color: $cyan;
    
}

hr {
    border: none;
    height: 1px;
   background: $dark-blue-line;
}

img {
    max-width: 100%;
    height: auto;
}

.card-image {
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    display: block;
  
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: $cyan;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
  }
  
  .card-image:hover .overlay {
    opacity: 1;
    background: hsla(178, 100%, 50%, 0.4);
  }

.avatar {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    margin-right: 20px;
    height: 33px;
    width: 33px;
}

.icon {
    &.etherium {
        width: 50%;
        height: 50%; 
    }
    &.clock {
       width: 16px;
       height: 16px; 
    }
  
}

.card {
    background: $dark-blue-card;
    width: 60%;
    max-width: 350px;
    padding: 24px;
    border-radius: 8px;
    
}

.flex {
    display: flex;
    align-items: center;
}

.eyebrow {
    justify-content: space-between;
}
















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



// &:before {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     content: '';
//     background-color: $cyan;
//     //me trying some bullshit
//     border-radius: 8px;
//     opacity: 0;
//     top: 0;
//     left: 0;
//     transition: ease 0.3s;

//     &:hover {
//         opacity: 0.503;
//     }
// }
// &:after {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     content: '';
//     background-image: url('../images/icon-view.svg');

//     background-repeat: no-repeat;
//     background-position: center;
//     opacity: 0;
//     top: 0;
//     left: 0;
//     transition: ease 0.3s;

//     &:hover {
//         opacity: 1;
//     }
    
// }